<ion-tabs>

	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="home">
			<div class="img_box">
				<img src="assets/images/home_1_before.png" class="before">
				<img src="assets/images/home_1.png" class="after">
			</div>
			<ion-label>Home</ion-label>
		</ion-tab-button>

<!--
		<ion-tab-button tab="regular">
			<div class="img_box">
				<img src="assets/images/ic_market_non.png" class="before">
				<img src="assets/images/ic_market.png" class="after">
			</div>
			<ion-label>Mandi</ion-label>
		</ion-tab-button>
-->

		<ion-tab-button tab="express">
			<div class="img_box">
				<img src="assets/images/express_before.png" class="before">
				<img src="assets/images/express.png" class="after">
			</div>
			<ion-label>Shop</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="seasonal">
			<div class="img_box">
				<img src="assets/images/mango_before.png" class="before">
				<img src="assets/images/mango_after.png" class="after">
			</div>
			<!-- <ion-label>Dil Mango More</ion-label> -->
			<ion-label>Speciality</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="my_orders">
			<div class="img_box">
				<img src="assets/images/ic_transist_non.png" class="before">
				<img src="assets/images/ic_transist.png" class="after">
			</div>
			<ion-label>{{'my_orders' | translate}}</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="FreshDesk">
			
		</ion-tab-button>

		<!-- <ion-tab-button tab="wallet">
			<div class="img_box">
				<img src="assets/images/wallet_before.png" class="before">
				<img src="assets/images/wallet.png" class="after">
			</div>
			<ion-label>{{'wallet' | translate}}</ion-label>
		</ion-tab-button> -->

		<!-- <ion-tab-button tab="contactus">
			<div class="img_box">
				<img src="assets/images/contactus-before.png" class="before">
				<img src="assets/images/contactus.png" class="after">
			</div>
			<ion-label>Contact Us</ion-label>
		</ion-tab-button> -->

		<!-- <ion-tab-button tab="my_orders">
			<div class="img_box">
				<img src="assets/images/ic_transist_non.png" class="before">
				<img src="assets/images/ic_transist.png" class="after">
			</div>
			<ion-label>{{'my_orders' | translate}}</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="more">
			<div class="img_box">
				<img src="assets/images/ic_more.png" class="before">
				<img src="assets/images/ic_moreact.png" class="after">
			</div>
			<ion-label>{{'more' | translate}}</ion-label>
		</ion-tab-button> -->
	</ion-tab-bar>

</ion-tabs>