<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bg_color">
  <div class="banner">
    <div class="banner_images">
      <img src="assets/images/coming_soon.png">
    </div>
    <div class="welcome_text">

       <!-- <h2>Your pincode: {{this.messageToShow}}</h2>  -->
      <h2>We don't deliver to this location yet</h2>
      <h3>Hang in there! Our team is working tirelessly to bring the freshness of the natural farms at your locality</h3>


       <ion-button size="large" shape="block" class="btn" (click)="changeLocation()">
        Choose another location
      </ion-button> 
      <div class="socialMedia">
        <h2>Follow us on</h2>
        <a href="https://www.facebook.com/search/top?q=jeevamrut%20foods" color="danger">
          <img src="assets/images/ic_facebook.png">
        </a>
        <a href="https://www.instagram.com/jeevamrut.in/" color="danger">
          <img src="assets/images/ic_instagram.png">
        </a>
        <a href="https://www.youtube.com/channel/UCuIORGn0G2Ajn54jGCYT5gw" color="danger">
          <img src="assets/images/ic_youtube.png">
        </a>
        <a href="https://www.linkedin.com/company/jeevamrut/" color="danger">
          <img src="assets/images/ic_linkedin.png">
        </a>

      </div>
    </div>
  </div>
</ion-content>