ion-header {
  background: var(--white);
  // --background: url(/assets/images/list/jf_tribal.jpg) !important;
  // --background-repeat: no-repeat;
  // --background-size: cover;

  ion-toolbar ion-title {
    padding: 0 15px !important;

    .title_inner {
      height: 70px;

      .location_text {
        text-overflow: ellipsis;
        // overflow: hidden;
        white-space: nowrap;
        font-size: 0.9rem;
        margin: 0px 5px 0px 0px;
        color: var(--text-black);
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-height: 16px;
        max-height: 32px;
        -webkit-box-orient: vertical;
        text-transform: capitalize;
        max-width: 72%;
      }
      .logo_title {
        text-align: center;
      }

      .ion-green {
        ion-icon {
          pointer-events: none;
          font-size: 1.5rem !important;
          //min-width: 17px;
          color: #397231;
          //padding: 0 1px;
        }
      }
      .location {
        overflow: hidden;
        position: relative;
        z-index: 999;
        padding-left: 30px;
        // margin-right: 10px;
        ion-icon {
          pointer-events: none;
          font-size: 1.5rem !important;
          //min-width: 17px;
          color: var(--primary);
          //padding: 0 1px;
          margin-left: 8px;
        }

        h2 {
          margin: 0;
          overflow: hidden;

          span {
            text-overflow: ellipsis;
            // overflow: hidden;
            white-space: nowrap;
            font-size: 0.9rem;
            font-weight: 500;
            color: var(--text-black);
            letter-spacing: 0;
            display: block;
            position: relative;
            top: 2px;
          }
        }
      }

      h3 {
        margin: 0 auto;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 500;
        position: absolute;
        left: 0;
        right: 0;
      }

      span {
        &.cart_icon {
          position: relative;
          min-width: 27px;
          padding-right: 5px;

          ion-badge {
            background: var(--red_color);
            --background: var(--transparent);
            --color: var(--white);
            --padding-bottom: 0;
            --padding-end: 0;
            --padding-start: 0;
            --padding-top: 0;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            //line-height: 15px;
            display: block;
            //font-size: 0.65rem !important;
            position: absolute;
            top: 12px;
            right: 0;
          }

          ion-icon {
            position: relative;
            top: 5px;
            font-size: 1.35rem;
          }
        }
      }
    }
  }

  .banner {
    position: relative;
    padding: 15px;

    .banner_text {
      padding-bottom: 20px;

      h3 {
        margin: 0;
        //color: var(--text-light2);
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.5px;
        padding-bottom: 4px;
      }

      h2 {
        margin: 0;
        color: var(--text-black);
        font-weight: 600;
        font-size: 1.4rem;
      }
    }

    .search_box {
      background: var(--info_field_bg);
      width: calc(100% - 0px);
      border-radius: 6px;
      padding: 5px 13px;
      min-height: 50px;

      ion-icon {
        color: var(--text-light);
        font-size: 1.2rem;
        margin-right: 13px;
        font-weight: 600;
      }

      h2 {
        margin: 0;
        //color: var(--text-light2);
        font-size: 0.95rem;
        font-weight: 300;
        letter-spacing: 0.3px;
      }
    }
  }
}
.banner {
  position: relative;

  .slide_inner {
    position: relative;
    width: 100%;
    height: 210px;
    overflow: hidden;

    .banner_img {
      width: 100%;
      height: 300px;

      &::after {
        content: "";
        position: absolute;
        bottom: -37px;
        left: 0;
        width: 100%;
        height: 135%;
        //background: linear-gradient(190deg, rgba(9, 9, 121, 0.0623599782) 0%, #f9f6fa 72%);
      }
    }

    .banner_details {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 20px;

      h4 {
        margin: 0;
        color: var(--white);
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: 400;
        width: fit-content;
        font-size: 0.7rem;
        padding: 4px 23px;
        letter-spacing: 0.5px;
        margin-bottom: 10px;

        &.helth_care {
          background: #a1e548;
        }

        &.life_style {
          background: #23ecdb;
        }

        &.family {
          background: #ffc016;
        }
      }

      p {
        margin: 0;
        color: var(--text-black);
        font-weight: 500;
        font-size: 1.1rem;
        width: calc(100% - 40px);
      }
    }
  }
}

.shop_by_category {
  padding-bottom: 15px;

  h2 {
    margin: 0;
    //color: var(--text-light2);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.5px;
    padding-bottom: 4px;
    padding: 15px;

    span {
      color: var(--primary);
    }
  }

  .scroll-x {
    // width: 100%;
    // white-space: nowrap;
    // overflow-x: auto;
    margin-left:15px;

    .category {
      display: inline-block;
      margin: 0 3.5px;

      .category_img {
        width: 102px;
        height: 126px;
        border-radius: 5px;
      }

      // &:first-child {
      //   margin-left: 15px;
      // }

      &:last-child {
        margin-right: 15px;
      }
    }
  }
}

ion-slides {
  height: 0%;
}

.offres {
  padding-bottom: 15px;

  h2 {
    margin: 0;
    // color: var(--text-light2);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.5px;
    padding-bottom: 4px;
    padding: 15px;

    span {
      color: var(--primary);
    }
  }

  .scroll-x {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;

    .offer {
      display: inline-block;
      margin: 0 3.5px;
      width: 332px;
      height: 180px; /*250px 108px*/
      border-radius: 5px;

      &:first-child {
        margin-left: 15px;
      }

      &:last-child {
        margin-right: 15px;
      }
    }
  }
}

ion-list {
  margin: 0;
  background: none;
  padding: 20px 10px 0;
  ion-card-content {
    padding: 15px 2px 15px 2px;
  }
  h2 {
    margin: 0;
    color: var(--text-light);
    font-size: 0.9rem;
    padding-top: 8px;
    color: var(--red_color);
  }
  ion-select {
    border-radius: 10px;
    border: 1px solid var(--primary);
    width: 120px;
    max-width: 100%;
    font-size: 12px;
    padding: 6px 8px 6px 6px;
  }

  ion-item {
    --inner-padding-end: 0px;
    --inner-min-height: unset !important;
    --padding-start: 0;
    --background: var(--transparent) !important;
    background: var(--white);

    .item_inner {
      align-items: flex-start !important;

      .img_box {
        min-width: 97px;
        max-width: 97px;
        height: 97px;
        margin-right: 12px;
        display: flex;
        align-items: center;

        img {
          display: block;
          margin: auto;
          width: 95px;
        }
      }

      .text_box {
        width: 100%;

        h3 {
          margin: 0;
          color: var(--text-black);
          font-size: 1rem;
          font-weight: bold;
          margin-bottom: 7px;
          letter-spacing: 0.3px;
        }

        h4 {
          margin-bottom: 10px;
          color: var(--text-black);
          font-size: 0.9rem;
          font-weight: 500;
          letter-spacing: 0.3px;
        }

        .buttons {
          // padding-top: 13px;

          h5 {
            margin: 0;
            background: var(--bg-color);
            border-radius: 10px;
            font-weight: 400;
            font-size: 0.95rem;
            padding: 7px 19px;
            display: flex;
            align-items: center;
            min-width: fit-content;

            ion-icon {
              color: var(--primary);
              font-size: 1.15rem;
              padding: 0 2px;
              min-width: 21px;
            }
          }

          h6 {
            margin: 0;
            padding: 7px 19px;
            border-radius: 6px;
            color: var(--white);
            background: var(--primary);
            border: 1px solid var(--primary);
            font-size: 0.87rem;
            min-width: 84px;
            text-align: center;
          }

          p {
            margin: 0;
            display: flex;
            align-items: center;
            border: 1px solid var(--primary);
            font-size: 0.87rem;
            font-weight: 500;
            border-radius: 10px;
            text-align: center;
            padding: 1px;

            span {
              display: block;
              min-width: 29px;
              color: var(--primary);
              font-size: 1.4rem;
              font-weight: 400;
              line-height: normal;
            }

            strong {
              display: block;
              min-width: 23px;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

.category_row {
  ion-row {
    padding: 3.5px 3.5px;

    ion-col {
      padding: 4px 3.5px;

      .item_box {
        background: var(--white);
        width: 100%;
        border-radius: 7px;
        padding: 25px 13px 10px 13px;
        box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1);

        .img_box {
          width: 80px;
          height: 72px;
          margin: 0 auto;
          margin-bottom: 22px;

          img {
            width: auto;
            //						height: auto;
            top: unset;
          }
        }

        h2 {
          margin: 0;
          font-size: 0.75rem;
          font-weight: 500;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          min-height: 28.8px;
        }
      }
    }
  }
}

.empty-view {
  width: 200px;
  margin: auto;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  img {
    width: 100px;
    margin: auto;
  }

  span {
    display: block;
    text-align: center;
  }

  button {
    margin-top: 50px;

    span {
      display: unset !important;
    }
  }
}

.marquee {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  background-color: var(--secondary);
  overflow: hidden;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  font-size: medium;
  padding-left: 100%;
  font-style: italic;
  will-change: transform;
  animation: marquee 10s linear infinite;
  width: fit-content;
}

.marquee span:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.customer_feedbacks {
  padding-bottom: 15px;

  h2 {
    margin: 0;
    // color: var(--text-light2);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.5px;
    padding-bottom: 4px;
    padding: 15px;

    span {
      color: var(--primary);
    }
  }

  .scroll-x {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;

    .offer {
      display: inline-block;
      margin: 0 3.5px;
      width: 332px;
      height: 180px; /*250px 108px*/
      border-radius: 5px;

      &:first-child {
        margin-left: 15px;
      }

      &:last-child {
        margin-right: 15px;
      }
    }
  }
}
.delivery-slot li:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 12px;
  margin: 8px auto 0;
  width: 12px;
}
.delivery-slot li.-unavailable:after {
  border: 1px solid #6e787c;
}
.delivery-slot li.-available:after {
  background: #1baf5d;
}
@media (min-width: 600px) {
  .product__delivery-availability {
    border: none;
    padding: 15px 0 0;
  }
}

.delivery-slot {
  border-radius: 4px;
  border: 1px solid #dadedf;
  color: #6e787c;
  text-align: center;
}

.delivery-slot ul {
  font-size: 0;
  position: relative;
}

.delivery-slot li {
  display: inline-block;
  text-align: center;
  font-size: 11px;
  padding: 10px;
  letter-spacing: 0.02em;
}

.deliverySchedule {
  border: 1px solid #dadedf;
  padding: 4px 4px 16px 4px;
  .mainDiv {
    display: flex;
    width: 100%;
  }

  .heading {
    color: var(--text-dark);
    font-weight: 600;
    text-align: center;
    display: block !important;
  }
  .greenText {
    font-weight: 600;
    color: #67c66c;
  }
  span {
    padding: 5px;
    border-radius: 5px;
    &.active {
      background: #67c66c;
      color: #ffffff;
      display: -webkit-box;
      text-align: center;
    }
    &.inactive {
      text-align: center;
      max-width: 100px;
      background: #e0e0e0;
      color: #000000;
    }
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 44px;
  }
}
.sliders{
  height: 240px !important;  
  width: auto !important;
  margin: auto;
  display: block;
  padding-bottom: 30px;
}
